*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
body{
	background-color: #E9E9E9;
}
#container{
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 240px;
	height: 500px;
	background-color: white;
}
#header{
	position: absolute;
	width: 240px;
	border-bottom: 1px solid #F0F0F0;
}
#header span{
	float: left;
	padding: 8px 27px 8px 20px;
	cursor: pointer;
}
#header span:hover{
	border-bottom: 2px solid #CECECE;
}
#content{
	position: absolute;
	top: 36px;
}
#content ul{
	width: 200px;
	padding: 20px 20px 20px 20px;
}
#content li{
	height: 50px;
	position: relative;
	margin-bottom: 10px;
}
#content a{
	text-decoration: none;
	color: #4C4C4C;
	font-weight: bold;
}
#content a:hover{
	opacity: 0.7;
}
#content  span{
	position: absolute;
	top: 15px;
	margin-left: 25px;
}
#fir_ul{
	display: block;
}
#sec_ul{
	display: none;
}